.form__input:focus {
  border-bottom-color: #007dff;
}

.form__field {
  margin: 0;
  position: relative;
}

.form__error-message {
  color: #ff0000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 32px;
  left: 0;
  width: 358px;
  opacity: 0;
  transition: opacity 0.3s;
}

.form__error-message_active {
  opacity: 1;
}

.form__input-error_active {
  border-bottom-color: #ff0000;
}

.form__button_inactive {
  border: solid black 1px;
  opacity: 0.2;
  color: black;
  background-color: #fff;
  cursor: auto;
}

.form__button_inactive:hover {
  opacity: 0.2;
}
