.header {
  margin: 45px auto 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
}

@media screen and (max-width: 890px) {
  .header {
    margin: 28px auto 42px;
    padding-left: 32px;
    padding-bottom: 31px;
  }

  .header__logo {
    width: 126px;
  }
}
